
* {
    box-sizing: border-box;
}
body {
    background-color: darkgray;}
    
body {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
}

.connectbt {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.connectbt:hover, .connectbt:focus {
    background-color: forestgreen;
}

p1 {
    background-color: lightgrey;
    position: relative;
    width: 200px;
    border: 15px darkgrey;
    padding: 40px;
    margin: 20px;
}

.pozcon {
    position: absolute;
    display: inline-block;
    left: 47%;
    top: 300px;
}

.pozlog {
    position: relative;
    display: inline-block;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.first-ul {
    position: absolute;
    top: 75%;
    left: 50.75%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}

.first-ul li {
    list-style: none;
    width: 80px;
    height: 80px;
    background: #262626;
    margin: 0 10px;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}

.first-ul li:hover {
    background: mediumblue;
}

.first-ul li span {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid #fff;
    transition: .5s;
}

.first-ul li.right span {
    top: 50%;
    right: 20%;
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
}

.first-ul li.right:hover span {
    right: 15%;
}

.first-ul li.left span {
    top: 50%;
    left: 20%;
    transform: translateY(-50%) rotate(135deg);
    border-left: none;
    border-top: none;
}

.first-ul li.left:hover span {
    left: 15%;
}

.second-ul{
    position: absolute;
    top: 70.65%;
    left: 43.8%;
    transform: translate(-50%,-50%);
    transform: rotate(90deg);
    margin: 0;
    padding: 0;
    display: flex;
}

.second-ul li{
    list-style: none;
    width: 80px;
    height: 80px;
    background: #262626;
    margin: 0 25px;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}

.second-ul li:hover {
    background: mediumblue;
}

.second-ul li span {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 4px solid rgb(255, 255, 255);
    transition: .5s;
}

.second-ul li.up span {
    top: 50%;
    left: 20%;
    transform: translateY(-50%) rotate(-225deg);
    border-left: none;
    border-top: none;
}

.second-ul li.up:hover span {
    left: 17%;
}

.second-ul li.down span {
    top: 50%;
    right: 20%;
    transform: translateY(-50%) rotate(-45deg);
    border-left: none;
    border-top: none;
}

.second-ul li.down:hover span {
    right: 17%;
}

.st {
    color: black;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 47.25%;
    font-size: xx-large;
}

.sts {
    color: rgb(255, 0, 0);
    text-align: center;
    position: absolute;
    top: 45%;
    left: 47.5%;
    font-size: medium;
}

.fr {
    position: absolute;
    left: 44%;
    top: 27%;
}

input {
    background: white;
    color: black;
    transition: all 200ms ease;
    border-left: 0 solid transparent;
    border: 0;
    height: 2rem;
    padding: 0 calc(2rem * 0.5);
    border-radius: calc(6rem * 0.3);
    box-shadow: 0 0 2rem rgb(0, 0, 0, 20%);
}